<div class="list-item" *ngFor="let car of carList">
  <div class="list-item__car">
    <div class="brand-logo"><img src="assets/images/brand-logos/{{ car.make }}.png" alt="{{ car.make }}"></div>
    <div class="model-image"><img src="assets/images/cars/{{ car.make }} {{ car.baseModel }} {{ car.year }}.jpg" alt=""></div>
    <div class="info">
      <span style="color: #213aca">{{ car.make }}<br></span>
      <span>{{ car.year }} {{ car.baseModel }}</span>
    </div>
    <!-- <div class="info__note">
      <span>{{ car.gameAModel }}{{ car.gameBModel }}</span>
    </div> -->
  </div>
  <div class="list-item__game-check list-item__game-check--a">
    <span class="img-center-helper"></span>
    <img src="{{ car.isInGameA ? 'assets/images/icons/tick.png' : 'assets/images/icons/x.png' }}" alt="">
  </div>
  <div class="list-item__game-check list-item__game-check--b">
    <span class="img-center-helper"></span>
    <img src="{{ car.isInGameB ? 'assets/images/icons/tick.png' : 'assets/images/icons/x.png' }}" alt="">
  </div>
</div>
