.header > div {
  grid-template-columns: 2fr 8fr 5fr 2fr 5fr;
  grid-template-areas: "mode title game-a set-relation game-b";
}

.game-a {
  grid-area: game-a;
}

.game-b {
  grid-area: game-b;
}

.set-relation {
  grid-area: set-relation;
  display: inline-block;
  position: relative;
  border-left: 1px solid #850000;
  border-right: 1px solid #850000;
  text-align: center;
}

@media only screen and (min-width: 45rem) {
  .header > div {
    grid-template-columns: 2fr 11fr 5fr 2fr 5fr;
  }
}
