@import '../../scss/_vars.scss';

/** HEADER **/
.header {
  > div {
    grid-template-columns: 2fr 8fr 5fr 2fr 5fr;
    grid-template-areas: 'mode title game-a set-relation game-b';
  }

  &__button {
    &--game-a {
      grid-area: game-a;
    }

    &--game-b {
      grid-area: game-b;
    }

    &--set-relation {
      grid-area: set-relation;
      display: inline-block;
      position: relative;
      border-left: 1px solid $nyoom-dark-red;
      border-right: 1px solid $nyoom-dark-red;
      text-align: center;
    }
  }

  &__button--game-a:hover &__dropdown--game-a,
  &__button--game-b:hover &__dropdown--game-b,
  &__button--set-relation:hover &__dropdown--set-relation {
    display: block;
  }

  &__dropdown {
    &--game-a,
    &--game-b,
    &--set-relation {
      display: none;
      position: absolute;
      z-index: 1;
      overflow: auto;
      height: 42vw;
      max-height: 31.5rem;
      min-height: 21rem;
      width: 100%;
    }

    &--set-relation {
      overflow: hidden;
    }
  }
}

/** LIST **/
.list-item {
  display: grid;
  grid-template-columns: 10fr 6fr 6fr;
  grid-template-areas: 'car  game-a game-b';
  max-width: 75rem;

  &__car {
    grid-area: car;
    grid-template-rows: auto 0fr;
    grid-template-areas:
      'brand image info'
      'note  note  note';

    &.selected {
      grid-template-rows: auto auto;
    }
  }

  &__game-check {
    height: 20vw;
    padding: 5vw;
    text-align: center;

    &--a {
      grid-area: game-a;
    }

    &--b {
      grid-area: game-b;
    }

    img {
      height: 100%;
      vertical-align: middle;
    }
  }
}

/** MEDIA QUERIES **/
@media only screen and (min-width: $breakpoint-med) {
  .header {
    div {
      grid-template-columns: 2fr 11fr 5fr 2fr 5fr;
    }
  }

  .list-item {
    grid-template-columns: 13fr 6fr 6fr;

    &__game-check {
      height: 8vw;
      padding: 1.75vw;
    }
  }
}

@media only screen and (min-width: $breakpoint-max) {
  .list-item {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;

    &__game-check {
      max-height: 6rem;
      padding: 1.3125rem;
    }
  }
}
