<div class="car-filters">
  <!-- FILTER-->
  <div>
    <!-- Make -->
    <select class="filter filter__select filter__select--car-make space-right" [(ngModel)]="filterSettings.cars.makeFilter">
      <option [ngValue]="">All Makes</option>
      <option [ngValue]="carMake" *ngFor="let carMake of carMakes">{{ carMake }}</option>
    </select>
    <!-- Year -->
    <select class="filter filter__select filter__select--car-year space-right" [(ngModel)]="filterSettings.cars.decadeFilter">
      <option [ngValue]="-1">All Years</option>
      <option [ngValue]="1940">1940s</option>
      <option [ngValue]="1950">1950s</option>
      <option [ngValue]="1960">1960s</option>
      <option [ngValue]="1970">1970s</option>
      <option [ngValue]="1980">1980s</option>
      <option [ngValue]="1990">1990s</option>
      <option [ngValue]="2000">2000s</option>
      <option [ngValue]="2010">2010s</option>
    </select>
  </div>
  <!-- SORT -->
  <div>
    <!-- Model -->
    <div class="filter filter__radio filter__radio--car-model"
         [ngClass]="{selected: filterSettings.cars.modelSort}"
         (click)="filterSettings.cars.modelSort = true;
                  filterSettings.cars.yearSort = false;
                  filterSettings.cars.selectedSort = false;
                  carsService.updateFilterSettings(filterSettings);">Model</div>
    <!-- Year -->
    <div class="filter filter__radio filter__radio--car-year"
         [ngClass]="{selected: filterSettings.cars.yearSort}"
         (click)="filterSettings.cars.modelSort = false;
                  filterSettings.cars.yearSort = true;
                  filterSettings.cars.selectedSort = false;
                  carsService.updateFilterSettings(filterSettings);">Year</div>
    <!-- Selected -->
    <div class="filter filter__radio filter__radio--car-selected space-right"
         [ngClass]="{selected: filterSettings.cars.selectedSort}"
         (click)="filterSettings.cars.modelSort = false;
                  filterSettings.cars.yearSort = false;
                  filterSettings.cars.selectedSort = true;
                  carsService.updateFilterSettings(filterSettings);">Selected</div>
    <!-- Order -->
    <i class="filter filter__sort filter__sort--car-order fas"
       [ngClass]="{'fa-sort-amount-up': filterSettings.cars.reverse, 'fa-sort-amount-down': !filterSettings.cars.reverse}"
       (click)="filterSettings.cars.reverse = !filterSettings.cars.reverse;
                carsService.updateFilterSettings(filterSettings);"></i>
  </div>
</div>
