@import "../../scss/_vars.scss";

body {
  height: 100vh;
  width: 100vw;
}

/** HEADER **/
.header {
  > div {
    grid-template-columns: 2fr 8fr 12fr;
    grid-template-areas: "mode title";
  }

  &__title {
    border: none
  }
}

/** GRID **/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "filters__cars filters__games"
    "car-list      game-list";
  max-width: 75rem;
  margin: auto;
}

app-select-car-list {
  grid-area: car-list;
  height: calc(100vh - 4rem - 6vw);
  max-height: calc(100vh - 4rem - 3rem);
  min-height: calc(100vh - 4rem - 4.5rem);
  overflow-y: auto;
  margin-top: 1rem;
}

app-select-game-list {
  grid-area: game-list;
  height: calc(100vh - 4rem - 6vw);
  max-height: calc(100vh - 4rem - 3rem);
  min-height: calc(100vh - 4rem - 4.5rem);
  overflow-y: auto;
  margin-top: 1rem;
}

/** FILTERS **/
.car-filters {
  grid-area: filters__cars;
  padding-left: 1rem;

  > div {
    display: inline-block;
    margin-top: 1rem;
  }

  select {
    font-family: 'Barlow', sans-serif;
    font-size: 1.25rem;
    padding: 1px 3px;
    cursor: pointer;

    option {
      font-size: 1rem;
    }
  }
}

.game-filters {
  grid-area: filters__games;
  padding-left: 1rem;

  > div {
    display: inline-block;
    margin-top: 1rem;
  }
}

.filter {
  font-weight: 400;

  &__radio,
  &__checkbox,
  &__button {
    @extend %filter-border;
    font-family: 'Barlow', sans-serif;
    font-size: 1.25rem;
    display: inline;
    padding: 1px 0.5rem;
    cursor: pointer;
    background-color: white;

    &:hover {
      @extend %filter-border-hover;
    }

    &.selected,
    &:active {
      @extend %filter-border-selected;
      color: white;
      background-color: $nyoom-grey;

      &:hover {
        @extend %filter-border-selected-hover;
      }
    }
  }

  &__button {
    font-weight: 500;
  }

  &.space-right {
    margin-right: 0.5rem;
  }

  &.fas {
    color: white;
    cursor: pointer;
    font-weight: 900 !important;
  }
}

/** LIST **/
.list-item {
  max-width: 75rem;
  width: 95%;
  cursor: pointer;
  margin-top: 0;

  .selected,
  :hover {
    .info {
      background-color: $nyoom-red;
      color: black !important;
    }
  }

  .info {
    transition: background-color 0.5s, color 0.5s;
  }

  &__game {
    @extend %list-item-border;
    background-color: $nyoom-dark-grey;
    max-width: 75rem;
    max-height: calc(45px - 0.5vw);
    cursor: pointer;
    overflow: hidden;
    /* border: $list-item-border; */
    transition: background-color 0.5s;

    &:hover {
      background-color: $nyoom-red;
    }

    .pct {
      width: 0%;
      height: calc(43px - 0.5vw);
      background-color: $nyoom-red;
      transition: width 1s;
    }

    .game-logo {
      position: relative;
      top: calc(-45px + 0.5vw);
      max-width: 75rem;
      max-height: calc(45px - 0.5vw);
      overflow: hidden;
      margin: auto;

      img {
        max-height: calc(45px - 0.5vw);
        vertical-align: middle;
        padding: 2px;
      }
    }
  }
}

/** MEDIA QUERIES **/
@media only screen and (min-width: $breakpoint-med) {
  .header {
    div {
      grid-template-columns: 2fr 11fr 12fr;
    }
  }
}
