@import "../../scss/_vars.scss";

/** HEADER **/
.header {
  > div {
    grid-template-columns: 2fr 8fr 12fr;
    grid-template-areas: "mode title";
  }

  &__title {
    border: none
  }
}

/** GRID **/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "filters__cars filters__games"
    "car-list      game-list";
  max-width: 75rem;
  margin: auto;
}

app-select-car-list {
  grid-area: car-list;
  height: calc(100vh - 4rem - 6vw);
  max-height: calc(100vh - 4rem - 3rem);
  min-height: calc(100vh - 4rem - 4.5rem);
  overflow-y: auto;
  margin-top: 1rem;
}

app-select-game-list {
  grid-area: game-list;
  height: calc(100vh - 4rem - 6vw);
  max-height: calc(100vh - 4rem - 3rem);
  min-height: calc(100vh - 4rem - 4.5rem);
  overflow-y: auto;
  margin-top: 1rem;
}

/** FILTERS **/
.car-filters {
  grid-area: filters__cars;
  padding-left: 1rem;
  padding-top: 1rem;

  select {
    font-family: 'Barlow', sans-serif;
    font-size: 1.25rem;
    padding: 1px 3px;
    cursor: pointer;
  }
}

.game-filters {
  grid-area: filters__games;
  padding-left: 1rem;
  padding-top: 1rem;
}

.car-filters,
.game-filters {
  div {
    font-family: 'Barlow', sans-serif;
    font-size: 1.25rem;
    display: inline;
    padding: 1px 0.5rem;
    cursor: pointer;
  }

  .filter {
    &__radio {
      background-color: white;

      &--car-model,
      &--car-year {
        width: calc(50% - 1rem);
      }

      &--car-year,
      &--game-pct {
        border-left: 1px solid $nyoom-dark-grey;
        border-right: 1px solid $nyoom-dark-grey;
      }
    }

    &__checkbox {
      background-color: white;
    }

    &__button--clear,
    &__button--reset {
      background-color: white;

      &:active {
        background-color: $nyoom-dark-grey;
        color: white;
      }
    }
  }

  .selected {
    background-color: $nyoom-dark-grey;
    color: white;
  }

  .space-right {
    margin-right: 0.5rem;
  }

  .fas {
    color: white;
    cursor: pointer;
  }
}

/** LIST **/
.list-item {
  max-width: 75rem;
  width: 95%;
  cursor: pointer;
  margin-top: 0;

  .selected {
    .info {
      background-color: $nyoom-red;
      color: black !important;
    }
  }

  &__game {
    background-color: $nyoom-dark-grey;
    border: 1px solid $nyoom-red;
    max-width: 75rem;
    max-height: calc(45px - 0.5vw);
    cursor: pointer;

    .pct {
      width: 0%;
      height: calc(43px - 0.5vw);
      background-color: $nyoom-red;
      transition: width 1s;
    }

    .game-logo {
      position: relative;
      top: calc(-45px + 0.5vw);
      max-width: 75rem;
      max-height: calc(45px - 0.5vw);
      overflow: hidden;
      margin: auto;

      img {
        max-height: calc(45px - 0.5vw);
        vertical-align: middle;
        padding: 2px;
      }
    }
  }
}

/** MEDIA QUERIES **/
@media only screen and (min-width: $breakpoint-med) {
  .header {
    div {
      grid-template-columns: 2fr 11fr 12fr;
    }
  }

  .grid-container {
    grid-template-rows: 3rem auto;
  }
}
