.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "car-list game-list";
  grid-gap: 1rem;
  max-width: 75rem;
  margin: auto;
}

app-car-list-select {
  grid-area: car-list;
  height: calc(100vh - 5vw);
  overflow-y: scroll;
}

app-game-list-select {
  grid-area: game-list;
  height: calc(100vh - 5vw);
  overflow-y: scroll;
}
