<header class="header">
  <div>
    <div class="header__button mode">
      <span class="imageCenterHelper"></span>
      <img src="assets/images/Hamburger.png" alt="Hamburger">
        <div class="mode_dropdown">
          <div><a routerLink="/compare">Compare</a></div>
          <div><a routerLink="/select">Select</a></div>
        </div>
    </div>
    <div class="header__title">
      <span class="imageCenterHelper"></span>
      <img src="assets/images/Logo.png" alt="Street Racing Cars">
    </div>
  </div>
</header>
