<div class="car" *ngFor="let car of carList">
  <div class="car__info">
    <div class="car__info--brand-logo"><img src="assets/images/brand-logos/{{ car.make }}.png" alt="{{ car.make }}"></div>
    <div class="car__info--image"><img src="assets/images/cars/{{ car.make }} {{ car.baseModel }} {{ car.year }}.jpg" alt=""></div>
    <div class="car__info--model-info">
      <span>{{ car.year }} {{ car.make }} {{ car.baseModel }}</span>
    </div>
  </div>
  <div class="car__game-a">
    <span class="imageCenterHelper"></span>
    <img src="{{ car.isInGameA ? 'assets/images/icons/tick.png' : 'assets/images/icons/x.png' }}" alt="">
    <span class="tooltiptext" *ngIf="car.gameANote">{{ car.gameANote }}</span>
    <!-- <p>{{ car.gameAModel }}</p>
    <p>{{ car.gameANote }}</p> -->
  </div>
  <div class="car__game-b">
    <span class="imageCenterHelper"></span>
    <img src="{{ car.isInGameB ? 'assets/images/icons/tick.png' : 'assets/images/icons/x.png' }}" alt="">
    <!-- <p>{{ car.gameBModel }}</p>
    <p>{{ car.gameBNote }}</p> -->
  </div>
</div>
