.game {
  background-color: white;
  max-width: 75rem;
  width: 95%;
  max-height: calc(45px - 0.5vw);
  margin: auto;
  margin-top: 1vw;
  margin-bottom: 1vw;
  cursor: pointer;
}

.game__percentage {
  width: 0%;
  height: calc(45px - 0.5vw);
  background-color: aqua;
  transition: width 1s;
}

.game__info {
  position: relative;
  top: calc(-45px + 0.5vw);
  max-width: 75rem;
  max-height: calc(45px - 0.5vw);
  overflow: hidden;
  box-shadow: 0px 0px 5px #888888;
  margin: auto;
}

.game__info img {
  max-width: 75rem;
  max-height: calc(45px - 0.5vw);
  margin: auto;
  vertical-align: middle;
}
