<div class="car" *ngFor="let car of carsService.cars['All']">
  <div class="car__info" (click)="carsService.selectCar(car.make, car.baseModel, car.year);" [ngClass]="{selected: carsService.isSelected(car.make, car.baseModel, car.year)}">
    <div class="car__info--brand-logo"><img src="assets/images/brand-logos/{{ car.make }}.png" alt="{{ car.make }}"></div>
    <div class="car__info--image"><img src="assets/images/cars/{{ car.make }} {{ car.baseModel }} {{ car.year }}.jpg" alt=""></div>
    <div class="car__info--model-info">
      <span>{{ car.year }} {{ car.make }} {{ car.baseModel }}</span>
    </div>
  </div>
</div>
