<div class="list-item" *ngFor="let game of games | sortGamesPipe:filterSettings.games">
  <div class="list-item__game" (click)="carsService.selectGame(game)">
      <div class="pct" [ngStyle]="{ 'width.%': carsService.totalSelectedCars === 0 ? 0 : (game.selectedCars / carsService.totalSelectedCars * 100).toFixed(0) }"></div>
      <div class="game-logo">
        <span class="img-center-helper"></span>
        <img src="assets/images/game-logos/{{ game.id }}.png" alt="{{ game.title }}">
      </div>
      {{ game.selectedCars }}/{{ carsService.totalSelectedCars }}
  </div>
</div>
