<div class="list-item" *ngFor="let car of carsService.cars['All'] | sortCarsPipe: filterSettings.cars">
  <div class="list-item__car" (click)="carsService.selectCar(car)" [ngClass]="{selected: car.isSelected}">
    <div class="brand-logo"><img src="assets/images/brand-logos/{{ car.make }}.png" alt="{{ car.make }}"></div>
    <div class="model-image"><img src="assets/images/cars/{{ car.make }} {{ car.baseModel }} {{ car.year }}.jpg" alt=""></div>
    <div class="info">
      <span>{{ car.make }}<br></span>
      <span>{{ car.year }} {{ car.baseModel }}</span>
    </div>
    <div class="note">
      <span *ngFor="let model of car.models">{{ model }}</span><br>
    </div>
  </div>
</div>
