<header class="header">
  <div>
    <!-- Mode -->
    <div class="header__button header__button--mode">
      <span class="img-center-helper"></span>
      <img src="assets/images/hamburger.png" alt="Hamburger">
        <!-- Mode dropdown -->
        <div class="header__dropdown header__dropdown--mode">
          <div><a routerLink="/compare">Compare</a></div>
          <div><a routerLink="/select">Select</a></div>
        </div>
    </div>
    <!-- Title -->
    <div class="header__title">
      <span class="img-center-helper"></span>
      <img src="assets/images/logo.png" alt="NYOOM">
    </div>
  </div>
</header>
