* {
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: black;
}

.img-center-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/** HEADER **/
.header {
  position: sticky;
  top: 0px;
  width: 100%;
  background-color: #d2092d;
  z-index: 10;
}

.header > div {
  display: grid;
  max-width: 75rem;
  height: 6vw;
  max-height: 4.5rem;
  min-height: 3rem;
  margin: auto;
}

.header__button--mode {
  grid-area: mode;
  display: inline-block;
  position: relative;
  text-align: center;
}

.header__title {
  display: inline-block;
  position: relative;
  height: 100%;
  max-height: 4.5rem;
  min-height: 3rem;
  line-height: 10px;
  /* Temp until there is a logo */
  font-family: 'Barlow', sans-serif;
  /* font-size: 2rem; */
}

/*.header__title {
  grid-area: title;
  border-right: 1px solid #850000;
  text-align: center;
  line-height: 3rem;
  color: black;
  font-family: 'Barlow', sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: calc(3vw + 0.125rem);
  overflow: hidden;
}*/

.header__button {
  display: inline-block;
  position: relative;
  height: 100%;
  max-height: 4.5rem;
  min-height: 3rem;
  line-height: 10px;
}

.header__button:hover {
  background-color: #850000;
}

.header__title img,
.header__button img {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  vertical-align: middle;
}

/** Header buttons dropdown show **/
.header__button--mode:hover .header__dropdown--mode,
.header__button--game-a:hover .header__dropdown--game-a,
.header__button--game-b:hover .header__dropdown--game-b,
.header__button--set-relation:hover .header__dropdown--set-relation {
  display: block;
}

/** Header buttons dropdown hide **/
.header__dropdown--mode {
  display: none;
  position: absolute;
  z-index: 1;
  overflow: auto;
  height: 12vw;
  max-height: 9rem;
  min-height: 6rem;
  width: 300%;
  background-color: white;
  box-shadow: 0px 0px 5px #888888;
}

.header__dropdown--mode div {
  font-family: 'Barlow', sans-serif;
  font-size: 3.75vw;
  line-height: 6vw;
}

.header__dropdown--game-a,
.header__dropdown--game-b,
.header__dropdown--set-relation {
  display: none;
  position: absolute;
  z-index: 1;
  overflow: auto;
  height: 42vw;
  max-height: 31.5rem;
  min-height: 21rem;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 5px #888888;
}

/** Header buttons dropdown options **/
.header__dropdown div {
  height: 6vw;
  max-height: 4.5rem;
  min-height: 3rem;
}

/** Header buttons dropdown options hover effects **/
.header__dropdown div:hover {
  background-color: #d2092d;
}

/** LIST **/
.list-item__car {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto auto;
  grid-template-areas:
      "brand image"
      "info  info";
  overflow: hidden;
  background-color: #1a1a1a;
  border: 1px solid #d2092d;
  /* box-shadow: 0px 0px 5px #888888; */
}

.list-item__car .brand-logo {
  grid-area: brand;
  height: 100%;
  float: left;
}

.list-item__car .brand-logo img {
  height: 100%;
  width: 100%;
  padding: 0.5vw;
  filter: grayscale(20%)
}

.list-item__car .model-image {
  grid-area: image;
  height: 100%;
  float: left;
}

.list-item__car .model-image img {
  height: 100%;
  width: 100%;
  filter: grayscale(50%)
}

.list-item__car .info {
  grid-area: info;
  overflow: hidden;
  height: 100%;
  padding-left: 0.75vw;
  color: #d2092d;
}

.list-item__car > .info span {
  text-align: left;
  font-family: 'Barlow', sans-serif;
  font-size: 3.75vw;
  line-height: 6vw;
  font-weight: bold;
}

/* Medium width */
@media only screen and (min-width: 45rem) {
  .header__dropdown--mode div {
    font-size: 2vw;
    line-height: 2vw;
  }

  .list-item__car {
    grid-template-columns: 8vw 12vw auto;
    grid-template-rows: 8vw;
    grid-template-areas: "brand image info";
  }

  .list-item__car > .info span {
    font-size: 2vw;
    line-height: 8vw;
  }
}

/* Maximum width */
@media only screen and (min-width: 75rem) {
  .header__dropdown--mode div {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .list-item__car {
    grid-template-columns: 6rem 9rem auto;
    grid-template-rows: 6rem;
  }

  .list-item__car > .info span {
    font-size: 1.5rem;
    line-height: 3rem;
  }
}
