* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.imageCenterHelper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/** HEADER **/
.header {
  position: sticky;
  top: 0px;
  width: 100%;
  background-color: red;
}

.header > div {
  display: grid;
  max-width: 75rem;
  height: 6vw;
  max-height: 4.5rem;
  min-height: 3rem;
  margin: auto;
}

.mode {
  grid-area: mode;
  display: inline-block;
  position: relative;
  text-align: center;
}

.header__title {
  display: inline-block;
  position: relative;
  height: 100%;
  max-height: 4.5rem;
  min-height: 3rem;
  line-height: 10px;
  /* Temp until there is a logo */
  font-family: 'Barlow', sans-serif;
  font-size: 2rem;
}

/*.header__title {
  grid-area: title;
  border-right: 1px solid #850000;
  text-align: center;
  line-height: 3rem;
  color: black;
  font-family: 'Barlow', sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: calc(3vw + 0.125rem);
  overflow: hidden;
}*/

.header__button {
  display: inline-block;
  position: relative;
  height: 100%;
  max-height: 4.5rem;
  min-height: 3rem;
  line-height: 10px;
}

.header__button:hover {
  background-color: #850000;
}

.header__title img,
.header__button img {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  vertical-align: middle;
}

/** Header buttons dropdown show **/
.mode:hover .mode_dropdown,
.game-a:hover .game-a_dropdown,
.game-b:hover .game-b_dropdown,
.set-relation:hover .set-relation_dropdown {
  display: block;
}

/** Header buttons dropdown hide **/
.mode_dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  overflow: auto;
  height: 12vw;
  max-height: 9rem;
  min-height: 6rem;
  width: 300%;
  background-color: white;
  box-shadow: 0px 0px 5px #888888;
}

.mode_dropdown div {
  font-family: 'Barlow', sans-serif;
  font-size: 3.75vw;
  line-height: 6vw;
}

.game-a_dropdown,
.game-b_dropdown,
.set-relation_dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  overflow: auto;
  height: 42vw;
  max-height: 31.5rem;
  min-height: 21rem;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 5px #888888;
}

/** Header buttons dropdown options **/
.mode_dropdown div,
.game-a_dropdown div,
.game-b_dropdown div,
.set-relation_dropdown div {
  height: 6vw;
  max-height: 4.5rem;
  min-height: 3rem;
}

/** Header buttons dropdown options hover effects **/
.mode_dropdown div:hover,
.game-a_dropdown div:hover,
.game-b_dropdown div:hover,
.set-relation_dropdown div:hover {
  background-color: red;
}

/** LIST **/
.car__info {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto auto;
  grid-template-areas:
      "brand image"
      "info  info";
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 0px 5px #888888;
}

.car__info--brand-logo {
  grid-area: brand;
  height: 100%;
  float: left;
}

.car__info--brand-logo img {
  height: 100%;
  width: 100%;
  padding: 0.75vw;
}

.car__info--image {
  grid-area: image;
  height: 100%;
  float: left;
}

.car__info--image img {
  height: 100%;
  width: 100%;
}

.car__info--model-info {
  grid-area: info;
  overflow: hidden;
  height: 100%;
  padding-left: 0.75vw;
}

.car__info--model-info > span {
  text-align: left;
  font-family: 'Barlow', sans-serif;
  font-size: 3.75vw;
  line-height: 6vw;
  font-weight: bold;
}

@media only screen and (min-width: 45rem) {
  .mode_dropdown div {
    font-size: 2vw;
    line-height: 2vw;
  }

  .car__info {
    grid-template-columns: 8vw 12vw auto;
    grid-template-rows: 8vw;
    grid-template-areas: "brand image info";
  }

  .car__info--model-info > span {
    font-size: 2vw;
    line-height: 8vw;
  }
}

@media only screen and (min-width: 75rem) {
  .mode_dropdown div {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .car__info {
    grid-template-columns: 6rem 9rem auto;
    grid-template-rows: 6rem;
  }

  .car__info--model-info > span {
    font-size: 1.5rem;
    line-height: 6rem;
  }
}
