@import '_vars.scss';

* {
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-image:
    linear-gradient(black, black),
    url('../assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: saturation;
  /*background-color: black;*/
}

.img-center-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/** HEADER **/
.header {
  position: sticky;
  top: 0px;
  width: 100%;
  background-color: $nyoom-red;
  z-index: 10;

  > div {
    display: grid;
    max-width: 75rem;
    height: 6vw;
    max-height: 4.5rem;
    min-height: 3rem;
    margin: auto;
  }

  &__title, &__button {
    img {
      max-height: 100%;
      max-width: 100%;
      margin: auto;
      vertical-align: middle;
    }
  }

  &__title {
    display: inline-block;
    position: relative;
    height: 100%;
    max-height: 4.5rem;
    min-height: 3rem;
    line-height: 10px;
    font-family: 'Barlow', sans-serif;
  }

  &__button {
    display: inline-block;
    position: relative;
    height: 100%;
    max-height: 4.5rem;
    min-height: 3rem;
    line-height: 10px;

    &:hover {
      background-color: $nyoom-dark-red;
    }

    &--mode {
      grid-area: mode;
      display: inline-block;
      position: relative;
      text-align: center;
    }
  }

  &__button--mode:hover &__dropdown--mode {
    display: block;
  }

  &__dropdown {
    background-color: $nyoom-dark-grey;
    border: 1px solid $nyoom-red;
    border-top: none;
    box-sizing: content-box;

    div {
      height: 6vw;
      max-height: 4.5rem;
      min-height: 3rem;
    }

    :hover {
      background-color: $nyoom-red;
    }

    &--mode {
      display: none;
      position: absolute;
      z-index: 1;
      overflow: auto;
      height: 12vw;
      max-height: 9rem;
      min-height: 6rem;
      width: 300%;

      div {
        font-family: 'Barlow', sans-serif;
        font-size: 3.75vw;
        line-height: 6vw;
      }
    }
  }
}

/** LIST **/
.list-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;

  &__car {
    @extend %list-item-border;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto;
    grid-template-areas:
      'brand image'
      'info  info';
    overflow: hidden;
    background-color: $nyoom-dark-grey;
    /* border: $list-item-border; */

    .brand-logo {
      grid-area: brand;
      height: 100%;
      float: left;

      img {
        height: 100%;
        width: 100%;
        padding: 0.5vw;
        filter: grayscale(20%)
      }
    }

    .model-image {
      grid-area: image;
      height: 100%;
      float: left;

      img {
        height: 100%;
        width: 100%;
        filter: grayscale(50%)
      }
    }

    .info {
      grid-area: info;
      overflow: hidden;
      height: 100%;
      padding-left: 0.75vw;
      color: $nyoom-red;

      span {
        text-align: left;
        font-family: 'Barlow', sans-serif;
        font-size: 3.75vw;
        line-height: 6vw;
        font-weight: 500;
      }

      span:first-child {
        color: $nyoom-blue;
        font-weight: 700;
        font-style: italic;
      }
    }
  }
}

/* Medium width */
@media only screen and (min-width: 45rem) {
  .header{
    &__dropdown {
      &--mode {
        div {
          font-size: 2vw;
          line-height: 2vw;
        }
      }
    }
  }

  .list-item__car {
    grid-template-columns: 8vw 12vw auto;
    grid-template-rows: 8vw;
    grid-template-areas: 'brand image info';

    .info {
      span {
        font-size: 2vw;
        line-height: 8vw;
      }
    }
  }
}

/** MEDIA QUERIES **/
@media only screen and (min-width: $breakpoint-max) {
  .header{
    &__dropdown {
      &--mode {
        div {
          font-size: 1.5rem;
          line-height: 1.5rem;
        }
      }
    }
  }

  .list-item__car {
    grid-template-columns: 6rem 9rem auto;
    grid-template-rows: 6rem;

    .info {
      span {
        font-size: 1.5rem;
        line-height: 3rem;
      }
    }
  }
}
